@model IEnumerable<GradeRegZTP.ViewModel.TeacherGradesViewModel>



<h2>Grupy zajęciowe</h2>

<table class="table">
    <tr>
        <th width="10%">
            Przedmiot
        </th>
        <th>
            Klasa
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Subject.Name, "Details", "StudentsGroups", routeValues: new { studentGroupId = item.StudentsGroup.Id, subjectId = item.Subject.Id }, htmlAttributes: null)

            </td>
            <td>
                @item.StudentsGroup.Level@item.StudentsGroup.Name
            </td>
        </tr>
    }

</table>
