@model IEnumerable<GradeRegZTP.Models.HourOfDay>

 
<style>
    .info {
        border: 1px #5b5757 solid;
    }
</style>
<table class="table">
    <tr>
        <th>
            Godzina
        </th>
        <th>
            Poniedziałek
        </th>
        <th>
            Wtorek
        </th>
        <th>
            Środa
        </th>
        <th>
            Czwartek
        </th>
        <th>Piątek</th>
        <th>Sobota</th>
        <th>Niedziela</th>
    </tr>

    @for (int j = 8; j <= 18; j++)
    {
        var godzina = j + ":15";
        <tr>
            <td>
                @godzina
            </td>
            @for (int i = 1; i < 8; i++)
            {

                var dzienTygodnia = i;
                var zajecie = Model.Where(x => x.Hour.HourString.Equals(godzina) && x.DayOfWeekId == dzienTygodnia).FirstOrDefault();
                <td width="14%" class="info">
                    @if (zajecie != null)
                    {
                        <p> @zajecie.Subject.Name</p>
                        // TODO dodac nauczycieli
                    }
                </td>
            }
        </tr>
    }

</table>
@Html.ActionLink("Pobierz PDF", "PDFGenerator", "HourOfDays", new { @class = "btn btn-danger" })
